body{
    background-color: azure;
    text-align: center;
    font-family: 'Nunito', sans-serif;
}
.contenido{
    color: aliceblue;
    font-size: 1.5rem;
}
.contenido>a{
    color: aliceblue;
}

button {
    border-radius: 50%;
    width: 6rem;
    height: 6rem;
    transition: background-color 1s;
    
    
}

