extends ./layout/index

block contenido
    main.container.mt-5
        .row 
            .col-md-5  
                img(src="img/nosotros.jpg", alt="imagen sobre nosotros", class="img-fluid")
            .col-md-7 
                h1 #{pagina}
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ullamcorper elementum sem id pharetra. Praesent non venenatis neque. Proin turpis dolor, efficitur non finibus non, aliquet vel est. Pellentesque at consectetur ligula. Aenean eget nibh feugiat eros accumsan posuere. Nam risus justo, convallis sed consectetur sit amet, eleifend sed neque. 

                p Praesent vitae efficitur ante. Aliquam elementum sit amet nunc in semper. Nulla et dolor sit amet tellus tristique laoreet. Pellentesque at enim malesuada, bibendum arcu et, viverra purus. Vestibulum luctus risus ac lorem pellentesque, eget sollicitudin nunc pharetra. Nulla mattis tellus et mi pretium, ac dictum augue laoreet. Donec eget cursus ex. 

                p Integer eget viverra quam. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Cras tincidunt mi accumsan arcu volutpat, vitae maximus nunc viverra. Sed non lectus eget ex semper porttitor quis vitae nibh. Ut eleifend urna quis orci accumsan, at tristique magna venenatis. 
    .listado-iconos
        .container.mt-5.py-5.text-center 
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad" class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Pellentesque at enim malesuada, bibendum arcu et, viverra purus. Vestibulum luctus risus ac lorem pellentesque, eget sollicitudin nunc pharetra.
                
                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono seguridad" class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p Pellentesque at enim malesuada, bibendum arcu et, viverra purus. Vestibulum luctus risus ac lorem pellentesque, eget sollicitudin nunc pharetra.
                
                .col-md-4
                    img(src="img/icono_precios.svg", alt="icono seguridad" class="img-fluid mb-4")
                    h2.mb-4 Los mejores precios
                    p Pellentesque at enim malesuada, bibendum arcu et, viverra purus. Vestibulum luctus risus ac lorem pellentesque, eget sollicitudin nunc pharetra.
                